<!doctype html>
<html class="h-full overflow-hidden lg:overflow-y-scroll">
<head>
  <title>
    Klima im Advent
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@klimaimadvent"/>
  <meta name="twitter:title" content = "Klima im Advent" />
  <meta name = "twitter:description" content = "Der Klimaadventskalendar" />
  <meta name = "twitter:image" content="/twitter_preview.jpg"/>

  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="/favicon-32.png" sizes="32x32">
  <link rel="icon" href="/favicon-57.png" sizes="57x57">
  <link rel="icon" href="/favicon-76.png" sizes="76x76">
  <link rel="icon" href="/favicon-96.png" sizes="96x96">
  <link rel="icon" href="/favicon-128.png" sizes="128x128">
  <link rel="icon" href="/favicon-192.png" sizes="192x192">
  <link rel="icon" href="/favicon-228.png" sizes="228x228">
  <link rel="shortcut icon" sizes="196x196" href=“/favicon-196.png">
  <link rel="apple-touch-icon" href="/favicon-120.png" sizes="120x120">
  <link rel="apple-touch-icon" href="/favicon-152.png" sizes="152x152">
  <link rel="apple-touch-icon" href="/favicon-180.png" sizes="180x180">
  <meta name="msapplication-TileColor" content="#9a5c51">
  <meta name="msapplication-TileImage" content="/favicon-144.png">
  <meta name="msapplication-config" content="/browserconfig.xml" /> 
  <style>
    body {
      background: #c4c4c4;
    }
    li:nth-child(1) {
      margin-left: 5vw;
    }
    li:last-child {
      margin-right: 5vw;
    }
    li {
      width: 90vw;
    }
    ul {
      transition: transform 0.3s;
    }
    @media (orientation:portrait) {
      .mysterious-element {
        width: 95vw;
      }
    }
    @media (orientation:landscape) {
      .mysterious-element {
        height: 100%;
      }
    }
    #zuckerstange {
      left: 100%;
      transform: translateX(-120%);
      top: -30vh;
      top: min(-30vh, -240px);
    }
    #overview {
      top: 100vh;
    }
    #overview, #door-mobile {
      background-image: url(jonas_background.jpg);
    }
    @media (max-width: 1023px) {
      .h-inner-screen {
        height: var(--inner-screen-height, 100vh)
      }
    }
    #cross-divider {
      transform: rotate(-5deg) translateX(-2vw);
      height: 123px;
      width: 104vw;
    }
    header {
      background: url(background_sign.jpg);
    }

    header h1 {
      background: url(sign.png);
    }
  </style>
  <%- include("matomo") %>
</head>
<body
  class=
    "min-w-screen justify-beginning flex h-screen lg:h-auto lg:block
       overflow-y-hidden overflow-x-scroll lg:overflow-visible"
  >
  <main class="h-screen lg:h-auto lg:w-full">
    <header class="hidden lg:block bg-cover bg-center">
      <div class="block mx-auto flex">
        <h1
          class="text-center text-6xl font-bold leading-none text-white
          bg-center mx-auto p-32 bg-cover"
          >
          Fünftes Türchen
        </h1>
      </header>
      <div class="bg-white w-full flex-col hidden lg:flex">
        <div class="max-w-xl mx-auto pt-5">
          <p class="mb-5">
            Nach soviel Dankbarkeit und Emotionen am gestrigen Tage,
            informiert sich der Weihnachtsmann heute und erfährt einen
            fröhlichen Klimafakt. Wenn auch ihr wissen wollt was den
            Weihnachtsmann so glücklich macht, dann öffnet das heutige Türchen
          </p>
        </div>
        <a
          href="/tag/5"
          class=
            "block mx-auto text-white bg-grey rounded-full font-extrabold
             text-2xl px-10 py-1 my-shadow mb-3 bg-green-dark"
          >
          Türchen öffnen
        </a>
     <p class="max-w-xl mx-auto relative">
Dir gefällt unser Kalender und du bist neugierig, was die nächsten Wochen noch
auf dich wartet? Folge unseren Social Media Kanälen und komm auf WhatsApp oder
Telegram in unseren Channel, um immer up to date zu sein!
    </p>
     <div
       class="flex max-w-md w-full mx-auto rounded-3xl bg-green-dark p-2
       justify-around items-center"
       >
      <a class="w-16" href="https://instagram.com/klimaimadvent">
        <img src="instagram.png">
      </a>
      <a class="w-16" href="https://instagram.com/klimaimadvent">
        <img src="twitter.png">
      </a>
      <a class="w-16" href="https://instagram.com/klimaimadvent">
        <img src="whatsapp.png">
      </a>
    </div> 
    <p class="max-w-xl mx-auto relative">
      Telegram:
      <a href="https://fffutu.re/KlimaImAdvent-TG-Info" class="text-green-dark">
        https://fffutu.re/KlimaImAdvent-TG-Info
      </a>
    </p> 
      </div>
    </div>
    <div class="h-inner-screen lg:hidden bg-cover bg-center" id="door-mobile">
      <ul class="flex flex-none item-center overflow-hidden h-full">
        <% for (let i = 1; i < 6; ++i) {%>
        <li class="flex items-center justify-center overflow-hidden">
          <a href="/tag/<%=i%>">
            <img src="/background_<%=i%>.png" class="mysterious-element">
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </main>
  <div
    class=
    "h-inner-screen flex-none flex flex-col absolute lg:static justify-center
    lg:-mt-8 lg:block lg:bg-grey bg-cover"
    id="overview"
  >
    <img src="cross-divider.svg" class="w-full hidden lg:block">
    <img src="zuckerstange.svg" class="absolute max-w-1/3 lg:hidden" id="zuckerstange">
    </img>
    <% for (let i = 0; i < 4; ++i) {%>
      <div class="items-center flex z-10
        overflow-hidden lg:overflow-visible">
        <% for (let j = 1; j < 7; ++j) {%>
        <a
          class="w-2/12"
          <% if (i * 6 + j < 6) { %>
          href="/tag/<%=i * 6 + j%>"
          <% } %>
          >
          <img src="/background_<%=i * 6 + j%>.png">
        </a>
        <% } %>
      </div>
    <% } %>
  </div>
  <script src="js/index.js"></script>
</body>
</html>
